<div class="restaurant-cards">
    {% for restaurant in restaurants|sort((a,b)=> a.scrapeable and a.servingsForToday <= b.scrapeable and b.servingsForToday) %}
        <div class="restaurant-card
                {{ restaurant.servingsForToday ? 'scraped-today' : 'not-scraped-yet' }}
                {{ restaurant.notWorking ? 'not-working' }}
                {{ restaurant.scrapeable ? '': 'inactive' }}
                "
        >
            <h3>{{ restaurant.name }}</h3>
            {% if restaurant.scrapeable and (not restaurant.scrapedToday or not restaurant.servingsForToday) %}
                <span class="restaurant-card-scrape-button"
                      data-action="click->scrape#scrapeIndividual"
                      data-scrape-code-param="{{ restaurant.code }}"
                >
                <i class="fas fa-sync-alt"></i>
            </span>
            {% endif %}

            <div class="restaurant-card-status">
                <div class="pill {{ restaurant.scraperState.value }}">
                    <div class="pill-item">Parser</div>
                    <div class="pill-item value">
                        {% if not restaurant.scrapeable %}
                            Neaktivní
                        {% elseif restaurant.notWorking %}
                            Nefunkční
                        {% elseif restaurant.scrapedToday %}
                            Aktuální
                        {% else %}
                            Neaktuální
                        {% endif %}
                    </div>
                </div>

                {% if restaurant.scrapeable %}
                    <div class="pill {{ restaurant.servingsForToday ? 'up-to-date': 'out-of-date' }}">
                        <div class="pill-item">Menu</div>
                        <div class="pill-item value">
                            {% if restaurant.servingsForToday %}
                                Aktuální
                            {% else %}
                                Neaktuální
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
            {% if restaurant.scrapeable %}
                <div class="today-servings">
                    <span class="today-servings-label">Dnešní nabídka</span>
                    <span class="today-servings-value">
                            {{ 'serving.today_count'|trans({'%count%': restaurant.todayServings.count}) }}
                        </span>
                </div>
            {% endif %}


            {#                <div class="tooltip"> #}
            {#                    {% if restaurant.lastScrapedAt %} #}
            {#                        parsováno {{ restaurant.lastScrapedAt|date('d. m. Y H:i') }} #}
            {#                    {% elseif not restaurant.scrapeable %} #}
            {#                        {{ 'scraper.not_scrapeable'|trans }} #}
            {#                    {% else %} #}
            {#                        {{ 'scraper.not_scraped_yet'|trans }} #}
            {#                    {% endif %} #}
            {#                </div> #}
        </div>
    {% endfor %}
</div>
