@import "../styles/abstracts/all"

.restaurant-cards
    width: 100%
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
    grid-gap: 20px
    margin: 20px 0
    position: relative

    .restaurant-card
        border-radius: 8px
        border: 2px solid var(--card-color)
        transform: scale(1)
        padding: 20px
        +transition(transform, 0.2s)

        &:not(.inactive):hover
            transform: scale(1.05)

        &-scrape-button
            padding: 10px
            display: inline-flex
            position: absolute
            top: 10px
            right: 10px
            border-radius: 50%
            width: auto
            aspect-ratio: 1
            background-color: var(--color-primary)
            color: white
            cursor: pointer

            &.err
                background-color: var(--red-500)

            &:hover
                filter: brightness(1.2)

            &:focus, &:active
                filter: brightness(0.8)

        &-status
            display: flex
            gap: 5px
            flex-wrap: wrap

        h3
            font-size: 18px

        &.scraped-today
            --card-color: #43AA8B

        &.not-scraped-yet
            --card-color: #FCCA46

        &.not-working
            --card-color: #DB5461

        &.inactive
            opacity: 0.5
            --card-color: #ccc

        .pill
            display: inline-flex
            align-items: flex-start
            position: relative
            border-radius: 4px
            //border: 1px solid var(--scraper-state)

            &-item
                font-size: 10px
                padding: 2px 5px
                display: flex
                background: var(--text-color-dark)
                color: var(--body-bg)

                &:first-child
                    border-radius: 4px 0 0 4px

                &:last-child
                    border-radius: 0 4px 4px 0

                &.value
                    font-weight: bold
                    color: white
                    text-transform: uppercase
                    background-color: var(--scraper-state)
                    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2)

            &.up-to-date
                --scraper-state: #43AA8B

            &.out-of-date
                --scraper-state: #FCCA46

            &.not-scraped-yet, &.not-scrapeable
                --scraper-state: #cccccc

            &.failed
                --scraper-state: #DB5461

.tooltip
    top: 5px
    display: none
    position: absolute
    transform: translateY(100%)
    font-size: 12px
    padding: 2px 5px
    background: black
    color: white
    border-radius: 4px

    &::before
        // arrow pointing up
        content: "▲"
        position: absolute
        top: -10px
        left: 20px
        font-size: 12px
        font-weight: bold
        color: black


.today-servings
    margin-top: 20px
    display: flex
    flex-direction: column

    &-label
        font-size: 11px
        text-transform: uppercase

    &-value
        font-size: 21px

.rotating
    animation: rotate 1s linear infinite

.loading
    &::before
        content: 'Loading...'
        font-size: 48 pxe
        width: 100%
        height: 100%
        display: flex
        align-items: center
        justify-content: center
        position: absolute
        left: 0
        top: 0
        z-index: 9
        background-color: rgba(255, 255, 255, 0.5)


@keyframes rotate
    from
        transform: rotate(0deg)

    to
        transform: rotate(360deg)
