{% extends 'base.html.twig' %}

{% block title %}{{ 'main.homepage'|trans }}{% endblock %}

{% block body %}


    <div class="today">
        <h1>Dnešní nabídka</h1>
        <div class="servings">
            {% for serving in servings %}
                <div class="serving">
                    <div class="serving-name">{{ serving.meal.name }}</div>
                    <div class="serving-restaurant">{{ serving.restaurant.name }}</div>
                    <div class="serving-price">{{ serving.priceAsString(true) }}</div>
                </div>
            {% endfor %}

            {{ pagerfanta(servings) }}

        </div>
    </div>
{% endblock %}
