{% extends 'base.html.twig' %}

{% block body %}
    <div class="random">
        <h1>Náhodné jídlo</h1>
        {% if serving %}
            <div class="random-serving">
                <strong>{{ serving.restaurant.name }}:</strong>
                {{ serving.fullName }}
            </div>
        {% else %}
            {{ form_start(form) }}
            {{ form_widget(form.restaurant) }}
            <div class="form-row inline">
                {{ form_widget(form.noSalad) }}
                {{ form_label(form.noSalad) }}
            </div>
            {{ form_end(form) }}
        {% endif %}
    </div>
{% endblock %}

{% block title %}

{% endblock %}

