body
    --color-bg: #f1faee
    --color-light: #a8dadc
    --color-primary: #e63946
    --color-secondary: #457b9d
    --color-dark: #1d3557
    --color-default: #1d1d1d

    ::selection
        background-color: var(--color-secondary)
        color: white
