body

    --font-mini: 11px
    --font-tiny: 13px
    --font-small: 14px
    --font-normal: 15px
    --font-text: 16px
    --font-medium: 18px
    --font-big: 24px
    --font-large: 30px
    --font-great: 36px
    --font-huge: 45px
    --font-immense: 56px

    --weight-light: 300
    --weight-normal: 400
    --weight-medium: 500
    --weight-semibold: 600
    --weight-bold: 700
    --weight-extrabold: 800
