.button
    padding: 10px 20px
    border-radius: 10px
    background-color: rgba(255, 255, 255, 0.1)
    border: 1px solid var(--color-default)
    font-size: var(--font-medium)

    &.wide
        width: 100%
