html, body
    margin: 0
    font-family: 'Playfair Display', sans-serif
    box-sizing: border-box
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    text-rendering: optimizeLegibility

    h1, h2, h3, h4, h5, h6
        font-family: 'Playfair Display', sans-serif

html
    height: 100%

body
    min-height: 100%
    position: absolute
    top: 0
    width: 100%
    max-width: 100%
    font-size: var(--font-normal)
    background: var(--color-bg)
    color: var(--color-default)

    main
        min-height: calc(100vh - 233px)

    &.blur
        pointer-events: none

//estimated page height without navbar and footer
