.today
    display: flex
    flex-direction: column
    align-items: center


    h1
        font-size: var(--font-great)
        padding: 40px 0


    .servings
        display: flex
        flex-direction: column
        row-gap: 5px
        width: 100%
        max-width: 960px

        .serving
            width: 100%
            display: grid
            grid-template-columns: 4fr 1fr min-content
            background-color: var(--color-light)
            padding: 10px 20px
            border-radius: 16px


            &-price
                display: flex
                justify-content: flex-end
                white-space: nowrap
