.random
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    gap: 20px
    padding: 40px 20px

    h1
        font-size: var(--font-great)

    &-serving
        font-size: var(--font-big)
        text-align: center
