{% extends '@EasyAdmin/page/content.html.twig' %}
{% block page_content %}

    <h2>Restaurace</h2>
    <div {{ stimulus_controller('scrape') }}>

        <button class="btn btn-primary btn-lg"
            {{ stimulus_target('scrape','button') }}
            {{ stimulus_action('scrape','scrape') }}
        >
            <i class="fas fa-sync-alt" {{ stimulus_target('scrape','icon') }}></i>
            <span {{ stimulus_target('scrape', 'label') }}>Scrapovat</span>
        </button>

        <div {{ stimulus_target('scrape','cards') }}>
            {% include 'admin/dashboard/@partials/_restaurant_cards.html.twig' %}
        </div>
    </div>

{% endblock %}
